* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20vh 80vh;
}

:root {
    --main-color: #107C10;
    --secondary-color: rgb(190, 190, 190);

}

/*HEADER*/
header {
    background-color: #fff;
    grid-column: 2 / -1;
    display: grid;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}

.img-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.magnify {
    width: 27px;
    
}

.search {
    border-radius: 25px;
    height: 30px;
    width: 700px;
    border: white solid 1px;
    background-color: var(--secondary-color);
    color: black;
    padding: 10px;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
    
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.xbox-live {
    background-image: url(xbox-live.svg);
    border-radius: 50%;
}

.user-icon {
    width: 50px;
    border-radius: 50%;
    width: 75px;
}

.name {
    display: inline;
    font-weight: bold;
    font-size: 1.75rem;
}

.button-group,
.img-header   {
    display: flex;
    gap: 20px;
}

h2 > a {
    text-decoration: none;
    color: black;
}
.button-group > button {
    background-color: var(--main-color);
    width: 150px;
    height: 40px;
    border: #107C10 solid 1px;
    border-radius: 25px;
    font-size: 18px;
}
/*SIDEBAR*/
.sidebar {
    background-color: var(--main-color);
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    
}

h1 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 img {
    width: 45px
}

h1,
.sidebar ul {
 margin-left: 75px;
}

.sidebar ul {
    list-style-type: none;
    font-size: 26px;
}

.sidebar ul li {
    padding: 10px;
    display: flex;
    gap: 20px;
}

li img {
    width: 27px;
}

/*MAIN*/
.main {
    background-color: var(--secondary-color);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    display: grid;
    grid-column: 1;
    grid-row: 1 / -1;
    border: 3px blue solid;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
    border: 3px orange solid;
    width: 80%;
    margin-top: 1rem;
}

.announcements div {
    border-bottom: 1px solid black;
    padding: 0px 15px;
}

.announcements div h4 {
    font-weight: bold;
 
}

.announcements div p {
    font-size: 12px;
}










.friends {
    grid-column: 2;
    grid-row: 2;
    border: 3px red solid;
    width: 80%;
}

.friends-usernames,
 .announcement-info {
    display: grid;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    height: 80%;
    width: 100%;
    margin-top: 5px;
}

.friends-usernames div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 15px;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.userpics {
    border-radius: 50%;
    width: 50px;
    grid-column: 1;
    grid-row: 1/ -1;

}

.friends-usernames div p:first-child {
    grid-column: 2;
    grid-row: 1;
}


.friends-usernames div p:last-child {
    color: gray;
    font-size: .8rem;
    grid-column: 2;
    grid-row: 2;
}
/*PSEUDO CLASSES*/

.sidebar ul li:hover, button:hover {
    color: white;
    transition: 0.2s;
    transform: scale(1.1);
}