* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20vh 80vh;
}


/*HEADER*/
header {
    background-color: rgb(190, 190, 190);
    grid-column: 2 / -1;
    display: grid;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}

.img-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.magnify {
    background-image: url(magnify.svg);
    background-repeat: no-repeat;
    border: #107C10 solid 2px;
    border-radius: 50%;
}

.search {
    border-radius: 25px;
    height: 30px;
    width: 700px;
    border: white solid 1px;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
    
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.xbox-live {
    background-image: url(xbox-live.svg);
    border-radius: 50%;
}
.user-icon {
    width: 50px;
    border-radius: 50%;
    width: 75px;
}

.name {
    display: inline;
    font-weight: bold;
    font-size: 1.75rem;
}

.button-group,
.img-header   {
    display: flex;
    gap: 20px;
}

h2 > a {
    text-decoration: none;
    color: black;
}
.button-group > button {
    background-color: #107C10;
    width: 150px;
    height: 40px;
    border: #107C10 solid 1px;
    border-radius: 25px;
    font-size: 18px;
}
/*SIDEBAR*/
.sidebar {
    background-color: green;
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    
}

h1 {
    margin-top: 25px;
}

h1,
.sidebar ul {
 margin-left: 100px;
}

.sidebar ul {
    list-style-type: none;
    font-size: 30px;
}

.sidebar ul li {
    padding: 10px;
}

.main {
    background-color: purple;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

/*PSEUDO CLASSES*/

.search::after {
    content: "Hello";
}
